.nav-link{
    margin-left: 5px;
    margin-right: 5px;
}
.navbar-nav{
    color: white;
    flex-direction: row;
}
.nav-item{
    justify-content: end;
}
.navbar-light .navbar-nav .nav-link{
    color:white;
}